body {
	background: #fafafa
		url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

html, body {
	margin-left: 15px;
	margin-right: 15px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;;
}

table {
	border-radius: 4px;
	border-spacing: 0px;
	border-collapse: separate;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	-moz-border-radius: 6px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	width: 72%;
}

thead {
	display: table-header-group;
}

thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child
	{
	border-radius: 4px 0 0 0;
}

thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child
	{
	border-radius: 0 0 0 4px;
}

th {
	font-family: 'Patua One', cursive;
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	background: none repeat scroll 0 0 #09c332;
	text-align: center;
	padding: 10px;
}

td {
	border-right: 1px solid #e8e8e81;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	position: relative;
	transition: all 300ms;
}

tr {
	text-align: center;
}

tr:nth-child(even) {
	background: #FFFFFF;
}

tr:nth-child(odd) {
	background: #BBBBBB;
}

#wrapper {
	width: 100%;
	margin-top: 0px;
}

#header {
	width: 70%;
	background: #09c332;
	margin-top: 0px;
	border: 1px solid #777;
	padding: 15px 0px 15px 15px;
}

#header h2 {
	width: 100%;
	margin: auto;
	color: #FFFFFF;
	text-align: center;
}

#container {
	width: 100%;
	margin: auto
}

#container h3 {
	color: #000;
}

#container #content {
	margin-top: 20px;
}

.add-button {
	border: 1px solid #666;
	border-radius: 5px;
	padding: 4px;
	font-size: 12px;
	font-weight: bold;
	width: 138px;
	padding: 5px 10px;
	margin-bottom: 0;
	background: #cccccc;
}

.selected-page {
	border: 2px solid black;
}

a.disabled {
	pointer-events: none;
	cursor: default;
	color: gray;
}

#buttonGroup {
	max-width: header.width;
	padding: 6px 11px;
	display: inline-block;
	margin-bottom: 1em;
	border-style: inset;
}